<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center">Login</h1>
          <form>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input class="form-control" type="text" name="usuario" id="usuario">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha">
          </div>
          <div class="justify-content-center d-flex">
            <button type="submit" class="btn btn-outline-dark w-50 d-black mx-auto">Entrar</button>
          </div>
        </form>
          <hr class="mt-5 mb-5">
          <p class="text-center">Não possui uma conta? <a routerLink='/register'>Cadastre-se</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="imgBg"></div>
  </div>
</div>