<div class="container-fluid">

  <div class="row bg-secondary align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="display-4 font-weight-bolder">Seja bem vinde!!!</h1>
          <span class="font-weight-bold">Expresse aqui os seus pensamentos e opiniões.</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#newPost">Nova Postagem</button>
          <a href="#posts" class="btn btn-outline-light">Ver Postagens</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="assets/img/Notebook-pana.png" alt="" class="img-fluid">
    </div>

  </div>

</div>

<div class="container mb-5 mt-5" id="posts">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-secondary font-weight-bold" id="allPost-tab" data-toggle="tab" href="#allPost" role="tab" aria-controls="allPost" aria-selected="true">Todas as Postagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary font-weight-bold" id="myPost-tab" data-toggle="tab" href="#myPost" role="tab" aria-controls="myPost" aria-selected="false">Minhas Postagens</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary font-weight-bold" id="themePost-tab" data-toggle="tab" href="#themePost" role="tab" aria-controls="themePost" aria-selected="false">Postagens por Tema</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="allPost" role="tabpanel" aria-labelledby="allPost-tab">Todas as Postagens</div>
    <div class="tab-pane fade" id="myPost" role="tabpanel" aria-labelledby="myPost-tab">Minhas Postagens</div>
    <div class="tab-pane fade" id="themePost" role="tabpanel" aria-labelledby="themePost-tab">Postagens por Tema</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/temas'>cadastre um novo</a>: </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Temas</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-dark ">Publicar</button>
      </div>
    </div>
  </div>
</div>